<h2>Items</h2>
<%= link_to "Add new item", new_item_path%>

<table>
  <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
  </thead>
  <% @items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.description %></td>
    <td><%= item.price %></td>
    <td>
      <%= link_to "Edit item", edit_item_path(item)%>
      <%= link_to "Delete item", item, method: :delete, data: {confirm: "Do you really want to delete this item?"}%> <!-- try to display the item name in this message-->
    </td>
  </tr>
  <% end %>
</table>
