<% if user_signed_in? %>
<h2>Items</h2>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
  </thead>
  <% if user_signed_in? %>
  <% @items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.description %></td>
    <td><%= item.price %></td>
    <td>
      <%= link_to "Edit item", edit_item_path(item), class: "btn btn-primary"%>
      <%= link_to "Delete item", item, method: :delete, data: {confirm: "Do you really want to delete this item?"},class: "btn btn-danger"%> <!-- try to display the item name in this message-->
    </td>
  </tr>
  <% end %>
  <% end %>
</table>
<% end %>
